// == FILTERS ===========================
// #171717
// filter: invert(0%) sepia(10%) saturate(5625%) hue-rotate(337deg) brightness(97%) contrast(82%);

// #E3FD5A
// filter: invert(87%) sepia(38%) saturate(657%) hue-rotate(17deg) brightness(107%) contrast(98%);

// #ffffff
///  filter: invert(100%) sepia(1%) saturate(5502%) hue-rotate(202deg) brightness(120%) contrast(100%);

// html, body {
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   text-size-adjust: none;
// }

%titleMob {
  font-weight: 700;
  @media (max-width: toEm(380.98)){
   font-size: toRem(34) !important;   
  }
}
.title-main {
  @include adaptiveValue("font-size", 70,37,0,1512.98,390.98);
  @extend %titleMob;
}

.title-a {
  @include adaptiveValue("font-size", 60,37,0,1512.98,390.98);
  @extend %titleMob;
}

.title-b {
  font-weight: 500;
  @include adaptiveValue("font-size", 40,28,0,1512.98,390.98);
}

.title-c {
  @include adaptiveValue("font-size", 88,37,0,1512.98,390.98);
  @extend %titleMob;
}
.title-d {
  @include adaptiveValue("font-size", 68,37,0,1512.98,390.98);
  @extend %titleMob;
}

%titleAnimationOp {
  opacity: 0;
  transform: translate(0,30%);
  &._watcher-view {
    opacity: 1;
    transform: translate(0,0);
    transition: opacity .55s ease, transform .55s ease;
  }
}


* {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color:$mainColor;
    border-radius: 3px;
  }
}

[class*="__container"]  {
  width: 100%;
  margin-inline: auto;
  padding-inline: toRem(20);
  @include adaptiveValue("max-width", 1700, 1310,0,1920,1512.98);
}


// LENIS плавная прокрутка ===============================
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


.split-lines,
.split-words,
.split-chars,
.split-both {
  font-kerning: none;
}

.element {
  .line {
    overflow: hidden;
  }
  .word {
    transform: translateY(100%);
    transition: transform .55s cubic-bezier(.22,.89,.34,.96);
  }
  &._watcher-view {
    .word {
      transform: translateY(0);
      transition-delay: calc(var(--index) * .03s);
    }
  }
}

.pdd-t-b {
  @include adaptiveValue("padding-top",90,40,0,1512.98,480.98);
  @include adaptiveValue("padding-bottom",90,40,0,1512.98,480.98);
}
.pdd-t {
  @include adaptiveValue("padding-top",90,40,0,1512.98,480.98);
}
.pdd-b {
  @include adaptiveValue("padding-bottom",90,40,0,1512.98,480.98);
}

.pdd-first {
  @include adaptiveValue("padding-top",150,88,0,1512.98,480.98);
}

.title-pckg {
  @include adaptiveValue("margin-bottom", 100, 40,0,1512.98,480.98);
}

%containerPadLft {
  @include adaptiveValue("padding-left", 30, 20,0,1366.98,480.98);
}
%containerPadRgt {
  @include adaptiveValue("padding-right", 30, 20,0,1366.98,480.98);
}
%containerPadLftRgt {
  @include adaptiveValue("padding-left", 30, 20,0,1366.98,480.98);
  @include adaptiveValue("padding-right", 30, 20,0,1366.98,480.98);
}

%paddingTopBtm40-30 {
  @include adaptiveValue("padding-top",40,30,0,1512.98,480.98);
  @include adaptiveValue("padding-bottom",40,30,0,1512.98,480.98);
}

%paddingTop180-80 {
  @include adaptiveValue("padding-top",180,80,0,1512.98,480.98);
}
%paddingBtm180-80 {
  @include adaptiveValue("padding-bottom",180,80,0,1512.98,480.98);
}
%paddingTop100-60 {
  @include adaptiveValue("padding-top",100,60,0,1512.98,480.98);
}
%paddingBtm120-60 {
  @include adaptiveValue("padding-bottom",120,60,0,1512.98,480.98);
}
%paddingBtm60-40 {
  @include adaptiveValue("padding-bottom", 60, 40,0,1512.98,480.98);
}
%paddingTop100-40 {
  @include adaptiveValue("padding-top",100,40,0,1512.98,480.98);
}
%marginBtm60-40 {
  @include adaptiveValue("margin-bottom", 60, 40,0,1512.98,480.98);
}
%marginBtm30-20 {
  @include adaptiveValue("margin-bottom", 30, 20,0,1512.98,480.98);
}

%fonSize18-16 {
  @include adaptiveValue("font-size", 18,16,0,1512.98,320.98);
}
%fonSize18-16full {
  letter-spacing: -0.01em;
  line-height: 1.5;
  color: $black;
  @include adaptiveValue("font-size", 18,16,0,1512.98,480.98);
}

p {
  letter-spacing: -0.01em;
  line-height: 1.5;
  color: $black;
  @include adaptiveValue("font-size", 18,16,0,1512.98,480.98);
}

.btn {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  width: 100%;
  min-width: toRem(211);
  padding-left: toRem(31);
  padding-right: toRem(31);
  border: toRem(1) solid transparent;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  // @include adaptiveValue("font-size", 40,22,2,3840,1512.98);
  @include adaptiveValue("font-size", 22,20,0,1512.98,480.98);
  // @include adaptiveValue("min-height", 160,80,2,3840,1512.98);
  @include adaptiveValue("min-height", 80,70,0,1512.98,480.98);
  @media (min-width:$mobileSmall){
    max-width: fit-content;
  }
  span {
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  &.btn-dark {
    background-color: #000;
    color: #fff;
    @media (any-hover: hover){
      &:hover{
        // border-color: #000;
        color: $mainColor;
        background-color: $lemon;
      }
    }
  }
  &.btn-light {
    background-color: #fff;
    color: $mainColor;
    @media (any-hover: hover){
      &:hover{
        background-color: $lemon;
        // color: #fff;
      }
    }
    &.btn-light_border {
      border-color: $mainColor;
      @media (any-hover: hover){
        &:hover{
          border-color: transparent;
          // background-color: $lemon;
          // color: #fff;
        }
      }
    }
  }
  &.btn-lemon {
    background-color: $lemon;
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
      }
    }
  }
}

[data-ticker] {
  overflow: visible;
  width: max-content;
  display: flex;
  align-items: center;
  > * {
    display: flex;
    flex-wrap: nowrap;
  }
}


.ticker-wrap {
  position: relative;
  z-index: 3;
  .ticker {
    span {
      display: inline-block;
      position: relative;
    }
    .ticker-item {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-top: toRem(1) solid rgba(23, 23, 23, 0.2);
      border-bottom: toRem(1) solid rgba(23, 23, 23, 0.2);
      &:not(:last-child) {
        border-left: toRem(1) solid rgba(23, 23, 23, 0.2);
      }
      @include adaptiveValue("padding-left", 17, 12,0,1512.98,480.98);
      @include adaptiveValue("padding-right", 17, 12,0,1512.98,480.98);
      @media (min-width:$mobileSmall){
        padding-top: toRem(6);
        padding-bottom: toRem(6);
      }
      @media (max-width:$mobileSmall){
        padding-top: toRem(5);
        padding-bottom: toRem(5);
      }
      .txt {
        font-weight: 600;
        letter-spacing: 0;
        @include adaptiveValue("font-size", 18, 13,0,1512.98,480.98);
        &:not(:last-child) {
          @media (min-width:$mobileSmall){
            margin-right: toRem(8);
          }
          @media (max-width:$mobileSmall){
            margin-right: toRem(6);
          }
        }
      }
      .price {
      }
      .index {
        padding-left: 18px;
        &::before {
          content:'';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0,-60%);
          transform-origin: center;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: toRem(11);
          aspect-ratio: 11/6;
        }
        &.index-green {
          color: $green;
          &::before {
            background-image: url("../img//icon/index-green.svg");
          }
        }
        &.index-red {
          color: $red;
          &::before {
            background-image: url("../img//icon/index-red.svg");
          }
        }
      }
      .index-green {
      }
      .index-red {
      }
    }
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%) ;
  }
}
@keyframes scroll-rev {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


.figure-svg {
  opacity: 0;
  transition: opacity .3s ease;
  .anim {
    stroke-dasharray: var(--dasharray); 
    stroke-dashoffset: var(--dashoffset); 
  }
  @extend %figureAnim2s;
  &.figure-01 {
    @extend %figureAnim2s;
  }
  
  &.figure-02 {
    @extend %figureAnim045s;
  }
  &.figure-03 {
    @extend %figureAnim2s;
  }
  &.figure-04 {
    @extend %figureAnim045s;
  }
  &.figure-05 {
    @extend %figureAnim2s;
  }
  &.figure-06 {}
  &.figure-07 {}
  &.figure-08 {
    @extend %figureAnim045s;
  }
  &.figure-09 {
    @extend %figureAnim045s;
  }
  &.figure-10 {}

  &._watcher-view {
    opacity: 1;
  } 
}
@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

%figureAnim2s {
  &._watcher-view {
    .anim {
      animation: draw-line 2s ease forwards;
    }
  } 
}
%figureAnim045s {
  &._watcher-view {
    .anim {
      animation: draw-line .65s ease forwards;
    }
  } 
}