section {
  // min-height: 100svh;
  // @media (min-width:toEm(820.98)) and (orientation: portrait) {
  //   min-height: 50svh;
  // }
  @media (max-width: toEm(2000.98)) and (max-height: toEm(1100.98)) {
      min-height: 100svh;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding-top",150,88,0,1512.98,480.98);
	// .hero__anim
	&__anim {
    @media (min-width:toEm(820.98)){
      position: absolute;
      inset: 0;
      pointer-events: none;
      z-index: 5;
      display: grid;
      grid-template-rows: 68.5% 31.5%;
      &:before,
      &:after {
        content:'';
        position: relative;
        height: 100%;
        width: 100%;
        .loaded & {
          left: 50%;
          opacity: 0;
        }
      }
      &::before {
        background-color: $acc;
        left: -100%;
        .loaded & {
          transition: left 1s ease-in-out, opacity .2s linear 0.9s;
        }
      }
      &::after {
        z-index: 2;
        background-color: $lemon;
        left: -100%;
        .loaded & {
          transition: left 1.2s ease-in-out 0s, opacity .4s linear 0.85s;
        }
      }
    }
    @media (max-width: toEm(820.98)){
        display: none;
    }
	}
  &__main,
  &__blocks,
  &__ticker {
    @media (min-width:toEm(820.98)){

      opacity: 0;
      transition: opacity .0s linear;
      .loaded & {
        opacity: 1;
      }
    }
  }
  &__main {
    .loaded & {
      transition-delay: .5s;
    }
  }
  &__blocks {
    .loaded & {
      transition-delay: .8s;
    }
  }
	// .hero__ticker
	&__ticker {
    overflow: hidden;
    .loaded & {
      transition-delay: .85s;
    }
	}
	// .hero__body
	&__body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
	}
	// .hero__container
	&__container {
    display: grid;
    flex: 1;
    @media (min-width:toEm(820.98)){
      grid-template-columns: repeat(2,1fr);
    }
	}
  // .hero__wrapper
  &__wrapper {
    display: grid;
    @media (min-width:toEm(820.98)){
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      flex: 1;
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: toEm(820.98)) and (min-width: $mobileSmall){
        height: 30vh;
    }
  }
  // .hero__main
  &__main {
    @media (min-width:toEm(820.98)){
      display: flex;
      align-items: center;
      padding-right: toRem(30);
    }
  }
	// .hero__block
	&__block {
    padding-bottom: toRem(40);
    @media (max-width: toEm(820.98)){
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    @media (min-width:$mobileSmall){
      padding-top: toRem(70);
    }
    @media (max-width:$mobileSmall){
       padding-top: toRem(40); 
    }
	}
  // .hero__title
  &__title {
    @media (min-width:toEm(820.98)){
      margin-bottom: 4%;
    }
    @media (max-width:toEm(820.98)){
      margin-bottom: toRem(20); 
    }
    @media (min-width:$mobileSmall){
      max-width: 16ch;
    }
  }
  // .hero__subtitle
  &__subtitle {
   
    @media (min-width:toEm(820.98)){
      margin-bottom: 4%;
      max-width: 76%;
    }
    @media (max-width:toEm(820.98)){
       margin-bottom: toRem(30); 
       flex: 1;
    }
  }
  // .hero__link
  &__link {
    flex: 0 0 auto;
    position: relative;
    z-index: 3;
    @media (min-width:$mobileSmall){
      padding-inline: 5%;
    }
  }
  // .hero__blocks
  &__blocks {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-rows: 65% 35%;
    @media (min-width:toEm(820.98)){
      grid-column: 2/3;
    }
    @media (max-width: toEm(820.98)){
      grid-template-rows: 75% 25%;
    }
    // .blocks-one,
    // .blocks-two {
    //   position: relative;
    //   &:before  {
    //     content:'';
    //     position: absolute;
    //     z-index: 0;
    //     top: 0;
    //     height: 100%;
    //     width: 200%;
    //     left: -300%;
    //     transition: left 1s ease-in-out;
    //     .loaded & {
    //       left: 0%;
    //     }
    //   }
    // }
    .blocks-one {
      background-color: $acc;
      position: relative;
      // &:before  {
      //   background-color: $acc;
      // }
    }
    .blocks-two {
      display: flex;
      justify-content: flex-end;
      background-color: $lemon;
      @include adaptiveValue("padding", 30,10,0,1512.98,480.98 );
      // @include adaptiveValue("padding-top", 30,10,0,1512.98,480.98 );
      // @include adaptiveValue("padding-left", 30,10,0,1512.98,480.98 );
      // @include adaptiveValue("padding-right", 30,10,0,1512.98,480.98 );
      // &:before {
      //   background-color: $lemon;
      //   .loaded & {
      //     transition-delay: .1s;
      //   }
      // }
      @media (min-width: toEm(820.98)){
        position: relative;
        width: 108%;
        left: -8%;
      }
      // .blocks-two__arr
      &__arr {
        position: relative;
        z-index: 2;
        width: auto;
        height: 100%;
        
        @media (min-width:toEm(820.98)){
          transform: rotate(90deg);
          opacity: 0;
          transition: opacity .45s ease, transform .55s ease;
          .loaded & {
            opacity: 1;
            transform: rotate(0deg);
            // transform: translate(0%,0%);
            transition-delay: .8s;
          }
        }
      }
    }
  }
}

%liquidityPdLftRght {
  @include adaptiveValue("padding-left", 50, 20,0,1512.98,480.98);
  @include adaptiveValue("padding-right", 50, 20,0,1512.98,480.98);
}

// == SECTION LIQUIDITY ========================================

.liquidity {
  position: relative;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding-bottom",120,100,0,1512.98,820.98);
  // .liquidity__container
  &__container {
    flex: 1;
    position: relative;
    z-index: 2;
    @media (min-width:toEm(820.98)){
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .liquidity__head
  &__head {
    padding-bottom: toRem(30);
    @include adaptiveValue("padding-top",120,40,0,1512.98,820.98);
    @include adaptiveValue("padding-left", 50, 20,2,1512.98,820.98);
    @media (min-width:toEm(820.98)){
      grid-column: 2/3;
    }
  }
  // .liquidity__title
  &__title {
    @extend %insightsMrBt;
  }
  // .liquidity__body
  &__body {
    position: relative;
    z-index: 2;
   
  }
  // .liquidity__spollers
  &__spollers {
  }
  // .liquidity__bg
  &__bg {
    @media (min-width:toEm(820.98)){
      position: absolute;
      z-index: 5;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: toEm(820.98)){
      height: 100%;
      max-height: toRem(373);
    }
  }
  // .liquidity__img
  &__img {
    overflow: hidden;
    background-color: $lemon;
    position: relative;
    @media (min-width:toEm(820.98)){
      grid-column: 1/2;
    }
    @media (max-width: toEm(820.98)){
      display: flex;
      justify-content: flex-end;
    }
  }
  // .liquidity__ic
  &__ic {
    @media (min-width: toEm(820.98)){
      position: absolute;
      top: 0;
      right: 0;
      height: auto;
      width: 70%;
    }
    @media (max-width: toEm(820.98)){
    height: 100%;
    width: auto;
    }
  }
}

.spollers-liquidity {
  grid-column: 2/3;
  // .spollers-liquidity__item
  &__item {
    position: relative;
    border-top: toRem(1) solid rgba(23, 23, 23, 0.2);
    &:last-child {
      border-bottom: toRem(1) solid rgba(23, 23, 23, 0.2);
    }
  }
	// .spollers-liquidity__container
	&__container {
    @media (min-width:toEm(820.98)){
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
	}
  // .spollers-liquidity__summary
  &__summary {
    cursor: pointer;
    transition: background-color .3s ease;
    @include adaptiveValue("padding-top",40,30,0,1512.98,480.98);
    @include adaptiveValue("padding-bottom",30,20,0,1512.98,480.98);
    &._spoller-active {
      background-color: $gray66;
      ~ .spollers-liquidity__body {
        .spollers-liquidity__container {
          &::before {
            background-color: $gray66;
          }
        }
      }
    }
  }
	// .spollers-liquidity__title
	&__title {
    display: inline-block;
    @include adaptiveValue("padding-left", 50, 20,2,1512.98,820.98);
    @media (min-width:toEm(820.98)){
      grid-column: 2/3;
    }
	}
  // .spollers-liquidity__body
  &__body {
    .spollers-liquidity__container {
      position: relative;
      &::before {
        content:'';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        transition: background-color .3s ease;
      }
    }
  }
  // .spollers-liquidity__txt
  &__txt {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-left", 50, 20,2,1512.98,820.98);
    @include adaptiveValue("padding-bottom",40,30,0,1512.98,480.98);
    @media (min-width:toEm(820.98)){
      grid-column: 2/3;
    }
  }
}



// == SECTION CLIENTS ========================================
.clients {
  // .clients__body
	&__body {
    @extend %paddingTop180-80;
    background-color: $acc;
	}
  // .clients__container
  &__container {
  }
  // .clients__title
  &__title {
    @extend %titleAnimationOp;
    color: #fff;
    @include adaptiveValue("margin-bottom", 120, 40,0,1512.98,480.98);
  }


  // .clients__slider
  &__slider {
    background-color: #fff;
    overflow: visible !important;
  }
  // .clients__wrapper
  &__wrapper {
  }
  // .clients__ticker
  &__ticker {
  }
	.slider__container {
    padding-inline: 0 !important;
  }
  // .clients__slide
  &__slide {
    cursor: pointer;
  }
}

.ticker-clients {
  @extend %paddingBtm180-80;
  // .ticker-clients__ticker
  &__ticker {
    position: relative;
    z-index: 3;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 80, 40,0,1512.98,1100.98);
    }
    &.ticker-01 {
    }
    &.ticker-02 {
    }
    &.ticker-03 {
    }
  }
  // .ticker-clients__list
  &__list {
   
  }
  // .ticker-clients__item
  &__item {
    background-color: rgba(255, 255, 255, 0.08);
    padding: toRem(20);
    width: fit-content;
    @include adaptiveValue("height", 100,80,0,1512.98,1100.98 );
    @include adaptiveValue("margin-right", 100, 60,0,1512.98,1100.98);
    img {

    }
  }
}

%slideClientsBefore {
  @media (min-width:toEm(820.98)){
    position: relative;
    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
  
    }
  }
}

.slide-clients {
  background-color: #fff;
  height: 100%;
  position: relative;
  @media (min-width:toEm(820.98)){
    display: grid;
    grid-template-columns: 67% 1fr;
    grid-template-rows: 1fr auto;
  }
  @media (max-width: toEm(820.98)){
    display: flex;
    flex-direction: column;
  }
  // .slide-clients__head
  &__head {
    flex: 1;
    background-color: $lemon;
    @extend %paddingTop100-60;
    @extend %containerPadLftRgt;
    @extend %slideClientsBefore;
    @media (min-width:toEm(1100.98)){
        &::before {
          background-color: $lemon;
        }
    }
    @media (min-width:toEm(820.98)){
      grid-column: 1/2;
      grid-row: 1/2;
      padding-bottom: toRem(70);
    }
    @media (max-width: toEm(820.98)){
      padding-bottom: toRem(125);
      margin-bottom: toRem(-85);
    }
  }
  // .slide-clients__top
  &__top {
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(40);
    }
    @media (max-width:$mobileSmall){
        margin-bottom: toRem(25);
    }
  }
  // .slide-clients__blockquote
  &__blockquote {
    @media (min-width:toEm(1100.98)){
      max-width: 80%;
    }
  }
  // .slide-clients__quote-main
  &__quote-main {
    @include adaptiveValue("margin-bottom",30,20,0,1512.98,480.98);
  }
  // .slide-clients__quote-more
  &__quote-more {
    // @media (min-width:toEm(820.98)){
    //   max-width: 61%;
    // }
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }
  // .slide-clients__img
  &__img {
    bottom: 0;
    right: 0;
    @media (min-width:toEm(820.98)){
      position: absolute;
      z-index: 1;
      grid-column: 2/3;
      grid-row: 2/3;
      width: 115%;
    }
    @media (max-width: toEm(820.98)){
        width: 60%;
        // justify-self: flex-end;
        align-self: flex-end;
    }
    @media (max-width:$mobileSmall){
       width: 80%; 
    }
    img {
      aspect-ratio: 574/503;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // transition: filter 0.3s ease 0s;
      filter: grayscale(1);
      // @media (any-hover: hover) {
      //   &:hover {
      //     filter: grayscale(0);
      //   }
      // }
    }
  }
  // .slide-clients__footer
  &__footer {
    background-color: $mainColor;
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    @extend %containerPadLftRgt;
    display: grid;
    align-items: center;
    @include adaptiveValue("min-height", 112, 85,0,1512.98,480.98);
    p {
      color: #fff;
      @include adaptiveValue("font-size", 31, 20,0,1512.98,480.98);
    }
    @extend %slideClientsBefore;
    @media (min-width:toEm(1100.98)){
        &::before {
          background-color: $mainColor;
        }
    }
    @media (min-width:toEm(820.98)){
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
  // .slide-clients__cite
  &__cite {
  }
}

%insightsMrBt {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40, 20,0,1512.98,480.98);
  }
}
// == SECTION INSIGHTS ========================================
.insights {
  display: flex;
  flex-direction: column;
  border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);
  // .insights__container
  &__container{
    flex: 1;
    display: grid;
    @media (min-width:toEm(820.98)){
        grid-template-columns: repeat(2,1fr);
    }
  }
  // .insights__main
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: toRem(70);
    padding-bottom: toRem(40);
    // @extend %containerPadLftRgt;
    @media (min-width:toEm(820.98)){
        padding-right: toRem(20);
    }
  }
	// .insights__body
	&__body {
	}
  // .insights__title
  &__title {
    @extend %titleAnimationOp;
    @extend %insightsMrBt;
  }
  // .insights__subtitle
  &__subtitle {
    @extend %insightsMrBt;
  }
  // .insights__link
  &__link {
  }
  // .insights__img
  &__img {
    background-color: $acc;
    padding-top: toRem(100);
    padding-bottom: toRem(100);
    @extend %containerPadLftRgt;
    @extend %slideClientsBefore;
    @media (min-width:toEm(820.98)){
      display: flex;
      align-items: center;
      &::before {
        left: 100%;
        background-color: $acc
      }
    }
    @media (max-width: toEm(820.98)){
        margin-left: toRem(-20);
        margin-right: toRem(-20);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

// == SECTION ABOUT ========================================
.about {
  @extend %paddingTop180-80;
  // .about__container
  &__container{
    // @extend %paddingBtm60-40;
    // @extend %containerPadLftRgt;
  }
  // .about__title
  &__title {
    @extend %titleAnimationOp;
    @extend %insightsMrBt;
  }
  // .about__txts
  &__txts {
    columns: 2 toRem(200);
    gap: toRem(0) toRem(70);
    @extend %marginBtm60-40;
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
  // .about__list
  &__list {
    margin-left: toRem(-20);
    margin-right: toRem(-20);
    display: grid;
    transition: grid-template-columns .45s ease, grid-template-rows .45s ease;
    @media (min-width:toEm(820.98)){
      min-height: 65vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      // position: relative; 
      // &::before,
      // &::after {
      //   content:'';
      //   position: absolute;
      //   left: 50%;
      //   transform: translate(-50%,0);
      //   height: toRem(1);
      //   width: 200vw;
      //   // background-color: rgba(0, 0, 0, 0.2);
      //   border-top: toRem(1) solid rgba(0, 0, 0, 0.2);
      // }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
    @media (max-width:toEm(820.98)){
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    @media (any-hover: hover){
      &:hover{
        &:has(.item-left-tp:hover) {
              grid-template-columns: 1.2fr .9fr .9fr;
              grid-template-rows: 1.2fr .8fr;
        }
        &:has(.item-center-tp:hover) {
              grid-template-columns: .9fr 1.2fr .9fr;
              grid-template-rows: 1.2fr .8fr;
        }
        &:has(.item-right-tp:hover) {
              grid-template-columns: .9fr .9fr 1.2fr;
              grid-template-rows: 1.2fr .8fr;
        }
        &:has(.item-left-btm:hover) {
              grid-template-columns: 1.2fr .9fr .9fr;
              grid-template-rows: .8fr 1.2fr;
        }
        &:has(.item-center-btm:hover) {
              grid-template-columns: .9fr 1.2fr .9fr;
              grid-template-rows: .8fr 1.2fr;
        }
        &:has(.item-right-btm:hover) {
              grid-template-columns: .9fr .9fr 1.2fr;
              grid-template-rows: .8fr 1.2fr;
        }
      }
    }
        
  }
  // .about__item
  &__item {
  }
}

.item-about {
  display: flex;
  flex-direction: column;
  row-gap: toRem(20);
  justify-content: space-between;
  height: 100%;
  border-top: toRem(1) solid rgba(0, 0, 0, 0.2);
  transition: background-color .45s ease;
  @include adaptiveValue("padding", 30, 20,0,1512.98,480.98);
  @media (min-width:toEm(820.98)){
    border-right: toRem(1) solid rgba(0, 0, 0, 0.2);
    &:nth-child(1),
    &:nth-child(4) {
      border-left: toRem(1) solid rgba(0, 0, 0, 0.2);
    }
    // &:not(:nth-child(3), :nth-child(6)) {
    //   border-right: toRem(1) solid rgba(0, 0, 0, 0.2);
    // }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);
    }
  }
  @media (max-width: toEm(820.98)){
  
    &:nth-child(odd) {
      border-right: toRem(1) solid rgba(0, 0, 0, 0.2);
    }
    &:nth-child(5),
    &:nth-child(6) {
      border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);
    }
  }
  @media (max-width:$mobileSmall){
        aspect-ratio: 1/1;
  }

  @media (any-hover: hover){
    &:hover{
      background-color: $grayD9;
      .item-about__count {
        transform: scale(1.6);
      }
    }
  }

  &.item-left-tp {
  }
  &.item-center-tp {
  }
  &.item-right-tp {
  }
  &.item-left-btm {
  }
  &.item-center-btm {
  }
  &.item-right-btm {
    background-color: $lemon;
    @media (any-hover: hover){
      &:hover{
        background-color: $lemon;
      }
    }
  }
  // .item-about__count
  &__count {
    font-weight: 500;
    transition: transform .45s ease;
    transform-origin: 0 center;
    // @include adaptiveValue("font-size", 140, 72,2,3840.98,1512.98);
    @include adaptiveValue("font-size", 72, 30,0,1512.98,480.98);
    .count {
    }
    @media (max-width: toEm(360.98)){
        font-size: toRem(26) !important;
    }
  }
  // .item-about__about
  &__about {
    font-weight: 600;
    // @include adaptiveValue("font-size", 44, 22,2,3840.98,1512.98);
    @include adaptiveValue("font-size", 22, 18,0,1512.98,480.98);
    @media (max-width: toEm(360.98)){
      font-size: toRem(16) !important;
    }
  }
  // .item-about__link
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .item-about__about {
      font-weight: 700;
      // @include adaptiveValue("font-size", 54, 27,2,3840.98,1512.98);
      @include adaptiveValue("font-size", 27, 18,0,1512.98,480.98);
    }
    @media (any-hover: hover){
      &:hover{
        .item-about__arr {
          transform: rotate(90deg);
        }
      }
    }
  }
  // .item-about__img
  &__img {
    align-self: flex-end;
    max-width: 30%;
  }
  // .item-about__arr
  &__arr {
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform .3s ease;
  }
}

// == SECTION ACCESS ========================================
.access {
  // .access__container
  &__container {
    @extend %paddingTop180-80;
    // @extend %paddingBtm60-40;
    // @extend %containerPadLftRgt;
  }
  // .access__title
  &__title {
    @extend %titleAnimationOp;
    @extend %insightsMrBt;
  }
  // .access__subtitle
  &__subtitle {
    @extend %marginBtm60-40;
    @media (min-width:$mobile){
      max-width: 45%;
    }
    @media (max-width:$mobile) and (min-width: $mobileSmall) {
       max-width: 70%; 
    }
  }
  // .access__list
  &__list {
  }
}

.list-access {
  background-color: $acc;
  display: grid;
  // overflow: hidden;
  margin-left: toRem(-20);
  margin-right: toRem(-20);
  @extend %slideClientsBefore;
    @media (min-width:toEm(820.98)){
      &::before {
        left: 50%;
        transform: translate(-50%,0);
        width: 100vw;
        height: 100%;
        background-color: $acc;
        z-index: -1;
      }
    }
  @media (min-width:$tablet){
    min-height: 100svh;
  }
  @media (max-width:$tablet) and (min-width: toEm(820.98)) and (orientation: portrait) {
    min-height: 50svh;
  }
  @media (min-width:toEm(820.98)){
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: toEm(820.98)){
    grid-template-columns: 100%;
  }
  // .list-access__item
  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // &:not(:last-child) {
      //   border-right: toRem(1) solid rgba(255, 255, 255, 0.2);
      // }
    @media (min-width:toEm(820.98)){
      border-right: toRem(1) solid rgba(255, 255, 255, 0.2);
      &:first-child {
        border-left: toRem(1) solid rgba(255, 255, 255, 0.2);
      }
    }
    @media (any-hover: hover){
      &:hover{
        .list-access__info {
          background-color: #fff;
        }
        .list-access__title {
          color: $mainColor;
          &::after {
            opacity: 1;
            transform: translate(0%,0%);
            transition-delay: .3s;
          }
        }
      }
    }
    .touch & {
      // .list-access__figure {
        //     padding-top: toRem(70);
        //     padding-bottom: toRem(70);
        //   }
      @media (min-width:toEm(820.98)){
        display: grid;
        grid-template-rows: 1fr auto;
        border-bottom: toRem(1) solid rgba(255, 255, 255, 0.2);
      }
      .list-access__info {
        flex: 1;
        background-color: #fff;
      }
      .list-access__title {
        color: $mainColor;
        &::after {
          opacity: 1;
          transform: translate(0%,0%);
        }
      }
    }
  }
  // .list-access__figure
  &__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    @media (min-width:toEm(820.98)){
      flex: 1;
      transition: flex .45s ease;
    }
    @media (max-width: toEm(820.98)){
        aspect-ratio: 430/170;
     
    }
    @media (max-width:$mobileSmall){
      aspect-ratio: 430/300; 
    }
  }
	// .list-access__img
	&__img {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    @media (max-width: toEm(820.98)){
      // width: 100%;
      // padding-top: toRem(70);
      // padding-bottom: toRem(70);
    }
    img,
    canvas {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%,-50%);
      @media (min-width:toEm(820.98)){
        max-width: 70%;
      }
      @media (max-width: $mobileSmall){
          max-width: 49%;
      }
    }
	}
  // .list-access__info
  &__info {
    // flex: 0;
    transition: background-color .45s ease;
  }
  // .list-access__title
  &__title {
    font-weight: 500 !important;
    color: #fff;
    display: flex;
    justify-content: space-between;
    transition: color .45s ease;
    @include adaptiveValue("padding", 30, 20,0,1512.98,480.98);
    &:after {
      content:'';
      background-image: url("../img/icon/arrow-up-right-small.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: toRem(25);
      aspect-ratio: 1/1;
      align-self: flex-start;
      opacity: 0;
      transform: translate(-50%,50%);
      transition: opacity .3s ease, transform .3s ease;
    }
  }
  // .list-access__body
  &__body {
    position: relative;
    transition: height .45s ease;
    @media (min-width:toEm(820.98)){
      height: 0;
    }
  }
	// .list-access__wrapper
	&__wrapper {
    @include adaptiveValue("padding", 30, 20,0,1512.98,480.98);
	}
}

// == SECTION TEAM ========================================
.team {
  @extend %paddingTop180-80;
  @extend %paddingBtm180-80;
  // .team__container
  &__container {
  }
  // .team__title
  &__title {
    @extend %titleAnimationOp;
    @extend %insightsMrBt;
  }
  // .team__subtitle
  &__subtitle {
    @extend %marginBtm60-40;
    @media (min-width:toEm(820.98)){
        max-width: 39%;
    }
  }
  // .team__list
  &__list {
  }
}

.list-team {
  display: grid;
  @include adaptiveValue("column-gap", 30,14,0,1512.98,480.98);
  @include adaptiveValue("row-gap", 120,40,0,1512.98,480.98);
  @media (min-width:toEm(820.98)){
    grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: toEm(820.98)){
    grid-template-columns: repeat(2,1fr);
  }
  // .list-team__item
  &__item {
    display: flex;
    flex-direction: column;
    @media (any-hover: hover){
      &:hover{
        .list-team__img {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
  // .list-team__img
  &__img {
    flex: 1;
    position: relative;
    img {
      aspect-ratio: 1/1;
    }
    &::before {
      content:'';
      position: absolute;
      inset: 0;
      z-index: 2;
      opacity: 0;
      background-color: rgba(227, 253, 90, 0.3);
      transition: opacity .3s ease;
    }
  }
  // .list-team__footer
  &__footer {
    display: grid;
    @media (min-width:toEm(600.98)){
      grid-template-columns: 1fr auto;
    }
  }
  // .list-team__name
  &__name {
    background-color: $lemon;
    @include adaptiveValue("padding", 24, 10,0,1512.98,480.98);
    p {
      font-weight: 600;
      // @include adaptiveValue("font-size", 60,30,2,3840,1512.98);
      @include adaptiveValue("font-size", 30,20,0,1512.98,390.98);
    }
  }
  // .list-team__position
  &__position {
    background-color: $acc;
    @include adaptiveValue("padding", 18, 9,0,1512.98,480.98);
    @media (min-width:toEm(600.98)){
      margin-top: -3%;
      margin-left: 20%;
      grid-row: 2/3;
      grid-column: span 2;
      position: relative;
    }
    @media (max-width: toEm(600.98)){
      margin-left: 6%;
    }
    p {
      color: #fff;
      // @include adaptiveValue("font-size", 40,20,2,3840,1512.98);
      @include adaptiveValue("font-size", 20,14,0,1512.98,390.98);
    }
  }
  // .list-team__social
  &__social {
    display: flex;
    align-items: center;
    background-color: $lemon;
    @media (min-width:toEm(600.98)){
      grid-column: 2/3;
      grid-row: 1/2; 
    }
    @media (max-width: toEm(600.98)){
      justify-self: flex-end;
    }
  }
  // .list-team__social-i
  &__social-i {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    // @include adaptiveValue("width", 100, 52,2,3840,1512.98);
    @include adaptiveValue("width", 52, 40,0,1512.98,480.98);
  }
  // .list-team__link
  &__link {
    padding: 15%;
    svg {
      width: 100%;
      height: auto;
    }
  }
}

// == SECTION OPPORTUNITIES ========================================
.opportunities {
  background-color: $acc;
  @extend %paddingTop180-80;
  @extend %paddingBtm120-60;
  // .opportunities__container
  &__container{
  }
  // .opportunities__title
  &__title {
    @extend %titleAnimationOp;
    color: #fff;
    @include adaptiveValue("margin-bottom", 120, 30,0,1512.98,480.98);
  }
  // .opportunities__body
  &__body {
    margin-bottom: toRem(40);
    @include adaptiveValue("margin-left", -30, -20,0,1366.98,480.98);
    @include adaptiveValue("margin-right", -30, -20,0,1366.98,480.98);
  }
  // .opportunities__header-list
  &__header-list {
  }
  // .opportunities__projects
  &__projects {
  }
  // .opportunities__more
  &__more {
    margin-inline: auto;
  }
}

%opportunitiesPlPr {
  @media (min-width:toEm(1100.98)){
    padding-left: toRem(58);
    padding-right: toRem(58);
  }
  @media (max-width: toEm(1100.98)){
    padding-left: toRem(20);
    padding-right: toRem(20);
  }
}

%opportunitiesGrid {
  display: grid;
  @media (min-width:toEm(700.98)){
    grid-template-columns: repeat(6,1fr);
    column-gap: toRem(10);
  }
  @media (max-width:$tablet) and (min-width: toEm(700.98)) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 20%;
  }
}

.list-header {
  @extend %opportunitiesGrid;
  @extend %opportunitiesPlPr;
  @media (min-width:toEm(700.98)){
    margin-bottom: toRem(30);
    &:before {
      content:'';
      grid-column: 1/2;
    }
  }
  @media (max-width: toEm(700.98)){
      display: none;
  }
  // .list-header__category
  &__category {
    font-size: toRem(18);
    // @include adaptiveValue("font-size", 36, 18,0,3840.98,1512.98);
    @media (min-width:toEm(700.98)){
      font-weight: 500;;
      color: rgba(255, 255, 255, 0.5);
    }
    @media (max-width:$tablet) and (min-width: toEm(700.98)){
      font-size: toRem(14) !important;
    }
  }
}

.projects-list {
  // .projects-list__item
  &__item {
    cursor: pointer;
    position: relative;
    z-index: 2;
    @extend %opportunitiesGrid;
    color: #fff;
    padding-top: toRem(30);
    padding-bottom: toRem(30);
    @extend %opportunitiesPlPr;
    height: toRem(116);
    // @include adaptiveValue("font-size", 48,24,2,3840,1512.98);
    @include adaptiveValue("font-size", 24,18,0,1512.98,1100.98);
    // @include adaptiveValue("height", 200,116,0,3840,1512.98);
    @media (min-width:toEm(700.98)){
      font-weight: 600;
      align-items: center;
      transition: color .3s ease;
      border-bottom: toRem(1) solid rgba(255, 255, 255, 0.2);
    }
    @media (max-width: toEm(700.98)){
      font-weight: 500;
        height: auto !important;
        row-gap: toRem(14);
        &:not(:last-child) {
          border-bottom: toRem(1) solid rgba(255, 255, 255, 0.2);
        }
    }
    &:first-child {
      @media (min-width:toEm(700.98)){
        border-top: toRem(1) solid rgba(255, 255, 255, 0.2);
      }
    }

    &:before {
      @media (min-width:toEm(700.98)){
        content:'';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: #fff;
        transition: height .3s ease;
      }
    }
    @media (any-hover: hover){
      &:hover{
        color: $mainColor;
        &::before {
          top: 0;
          height: 100%;
        }
        .projects-list__ic {
          filter: invert(0%) sepia(10%) saturate(5625%) hue-rotate(337deg) brightness(97%) contrast(82%);
        }
      }
    }
  }
  // .projects-list__logo
  &__logo {
    display: flex;
    position: relative;
    @media (min-width:toEm(700.98)){
      min-height: 100%;
    }
    @media (max-width: toEm(700.98)){
        height: toRem(50);
        margin-bottom: toRem(22);
        justify-content: space-between;
        &::after {
          content:'';
          background-image: url("../img/icon/arrow-up-right-white-small.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;  
          width: toRem(24);
          aspect-ratio: 1/1;        
        }
    }
  }
	// .projects-list__ic-w
	&__ic-w {
    // width: 100%;
    height: 100%;
    // position: relative;
    @media (min-width:toEm(700.98)){
      position: absolute;
      left: 0;
      top: 0;
      padding: toRem(10);
    }
	}
	// .projects-list__ic
	&__ic {
    height: 100%;
    width: auto;
    filter: invert(100%) sepia(1%) saturate(5502%) hue-rotate(202deg) brightness(120%) contrast(100%);
	}
  // .projects-list__category
  &__category {
    color:rgba(255, 255, 255, 0.5);
  }
  // .projects-list__cell
  &__cell {
    @media (max-width: toEm(700.98)){
        display: grid;
        grid-template-columns: 1fr 40%;
    }
  }
  // .projects-list__data
  &__data {
  }
	// .projects-list__link
	&__link {
    position: absolute;
    inset: 0;
    z-index: 3;
	}
}

// == SECTION ARTICLES ========================================
.articles {
  @extend %paddingTop180-80;
  @extend %paddingBtm180-80;
  // .articles__container
  &__container {
  }
  // .articles__title-m
  &__title-m {
    @extend %titleAnimationOp;
    @extend %insightsMrBt;
  }
  // .articles__subtitle
  &__subtitle {
    @extend %insightsMrBt;
  }
  // .articles__body
  &__body {
  }
  // .articles__list
  &__list {
    display: grid;
    gap: toRem(60) toRem(30);
    &:not(:last-child) {
      margin-bottom: toRem(60);
    }
    @media (min-width:toEm(820.98)){
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .articles__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    @media (any-hover: hover){
      &:hover{
        .articles__img {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  // .articles__img
  &__img {
    overflow: hidden;
    margin-bottom: toRem(20);
    img {
      @media (min-width:$mobileSmall){
        transition: transform .65s ease;
         aspect-ratio: 464/245;
      }
      @media (max-width:$mobileSmall){
          aspect-ratio: 390/205;
      }
    }
  }
  // .articles__footer
  &__footer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: toRem(30);
    &::after {
      content:'';
      flex: 0 0 toRem(15);
      background-image: url("../img/icon/arrow-up-right-small.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;  
      width: toRem(15);
      aspect-ratio: 1/1;   
      align-self: flex-start; 
    }
  }
  // .articles__title
  &__title {
    display: inline-block;
    font-weight: 600;
    // @include adaptiveValue("font-size", 44,22,2,3840,1512.98);
    @include adaptiveValue("font-size", 22,20,0,1512.98,1100.98);
    @media (min-width:$mobileSmall){
      max-width: 78%;
      
    }
    @media (max-width:$mobileSmall){
      
    }
  }
  // .articles__link
  &__link {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  // .articles__more
  &__more {
    margin-inline: auto;
  }
}
  
// == SECTION SIGN-UP ========================================
.sign-up {
  border-top: toRem(1) solid rgba(0, 0, 0, 0.2);
  // .sign-up__container
  &__container {
    display: grid;
    @media (min-width:toEm(700.98)){
      grid-template-columns: 68% 1fr;
    }
 
  }
  // .sign-up__body
  &__body {
    @extend %paddingTop100-40;
    @media (min-width:toEm(700.98)){
      order: 1;
    }
  }
  // .sign-up__head
  &__head {
    // @extend %containerPadLftRgt;
    @extend %marginBtm60-40;
    @media (min-width:toEm(700.98)){
      padding-right: toRem(50);
    }
  }
  // .sign-up__title
  &__title {
    @extend %titleAnimationOp;
    line-height: 1;
    @extend %insightsMrBt;
  }
  // .sign-up__subtitle
  &__subtitle {
    @media (min-width:toEm(1100.98)){
      max-width: 70%;
    }
  }
  // .sign-up__form
  &__form {
    @media (max-width: toEm(1300.98)){
      margin-left: toRem(-20);
    }
    @media (max-width: toEm(700.98)){
        margin-right: toRem(-20);
    }
  }
	// .sign-up__block
	&__block {
    @media (min-width:toEm(700.98)){
          order: 2;
     }
     @media (max-width: toEm(700.98)) and (min-width: $mobileSmall) {
        aspect-ratio: 2/1;
     }
     @media (max-width:$mobileSmall){
       aspect-ratio: 1/1; 
     }
	}
	// .sign-up__img
	&__img {
    height: 100%;
    @media (min-width:toEm(1300.98)){
      width: 38vw;
    }
    @media (max-width: toEm(1300.98)){
      margin-right: toRem(-20);
    }
    @media (max-width: toEm(700.98)){
      margin-left: toRem(-20);
    }
	}
  // // .sign-up__figures
  // &__figures {
  //   position: relative;
  //   display: grid;
  //   grid-template-rows: repeat(3,33.33%);
  //   background-color: $acc;
  //   @media (min-width:toEm(700.98)){
  //     order: 2;
  //   }
  //   @media (max-width: toEm(700.98)){
  //       aspect-ratio: 1/1;
  //   }
  // }
  // // .sign-up__icon
  // &__icon {
  //   position: absolute;
  //   top: 0;
  //   // width: max-content;
  //   min-width: 100%;
  //   height: 100%;
  //   img {
  //   }
  //   &:nth-child(1) {
  //     grid-row: 1/2;
  //     left: 0;
  //     img {
  //       object-position: left;
  //     }
  //   }
  //   &:nth-child(2) {
  //     grid-row: 2/3;
  //     left: 50%;
  //     transform: translate(-50%,0);
  //     img {
  //       object-position: center;
  //     }
  //   }
  //   &:nth-child(3) {
  //     grid-row: 3/4;
  //     right: 0;
  //     img {
  //       object-position: right;
  //     }
  //   }
  // }
}

