section {
  min-height: 100svh;
  @media (min-width:toEm(820.98)) and (orientation: portrait) {
    min-height: 50svh;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding-top",150,88,0,1512.98,480.98);
  // .hero__wrapper
  &__wrapper {
    flex: 1;
    display: grid;
    @media (min-width:toEm(820.98)){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .hero__main
  &__main {
    @extend %containerPadLft;
    @media (min-width:toEm(820.98)){
      order: 1;
      display: flex;
      align-items: center;
      padding-right: toRem(30);
    }
    @media (max-width: toEm(820.98)){
      padding-right: toRem(20);
    }
  }
	// .hero__block
	&__block {
    padding-top: toRem(30);
    padding-bottom: toRem(40);
	}
  // .hero__title
  &__title {
    @media (min-width:toEm(820.98)){
      margin-bottom: 4%;
    }
    @media (max-width:toEm(820.98)){
      margin-bottom: toRem(20); 
    }
    @media (min-width:$mobileSmall){
      max-width: 16ch;
    }
  }
  // .hero__subtitle
  &__subtitle {
   
    @media (min-width:toEm(820.98)){
      margin-bottom: 4%;
      max-width: 76%;
    }
    @media (max-width:toEm(820.98)){
       margin-bottom: toRem(30); 
    }
  }
  // .hero__link
  &__link {
    @media (min-width:$mobileSmall){
      padding-inline: 5%;
    }
  }
  // .hero__blocks
  &__blocks {
    display: grid;
    grid-template-rows: 65% 35%;
    @media (min-width:toEm(820.98)){
      order: 2;
    }
    @media (max-width: toEm(820.98)){
      grid-template-rows: 75% 25%;
    }
    .blocks-one {
      background-color: $acc;
    }
    .blocks-two {
      display: flex;
      justify-content: flex-end;
      background-color: $lemon;
      @include adaptiveValue("padding", 30,10,0,1512.98,480.98 );
      @media (min-width: toEm(820.98)){
        position: relative;
        width: 108%;
        left: -8%;
      }
      // .blocks-two__arr
      &__arr {
        width: auto;
        height: 100%;
        transform: rotate(180deg);
        filter: invert(0%) sepia(10%) saturate(5625%) hue-rotate(337deg) brightness(97%) contrast(82%);
      }
    }
  }
}


